<% const nombre = 'Jenny'; //codigo JAVASCRIPT %>
<%=nombre //mostrar en pantalla%>

<% const arreglo =[1,2,3,4,5];  //definir arreglo%>
<%=arreglo%>
<% const objeto ={nombre:'Jenny'};%>
<%=objeto.nombre%>

<%arreglo.forEach((valorActual)=>{ %>
<p> Numero: <%=valorActual%></p>
<% })%>

<ol>
    <%arreglo.forEach((valorActual)=>{ %>
    <li> Numero: <%=valorActual%></li>
    <% })%>

</ol>



<%if(estaVivo){%>
    <h1>ESTA VIVO!!!</h1>
<%}else{%>
        <h1>Se murio ;(</h1>
<%}%>