<%const nombreUsuario = 'Jenny';%>
<%- include('../componentes/menu/menu',{nombre: nombreUsuario})%>

<style>
    table ,th, td, tr{
        border: solid blue 1px ;
    }
</style>


<a href="/api/traguito/crear">
    <button class="ancho">Crear Nuevo Trago</button>
</a>
<br>
<br>

<table style="width: 100%">
    <tr>
        <th>Nombre</th>
        <th>Grados</th>
        <th>Caduca</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Acciones</th>
    </tr>
    <% arreglosTragos.forEach((trago)=>{ %>
    <tr class="centro">
        <td> <%=trago.nombre%> </td>
        <td> <%=trago.gradosAlcohol%> </td>
        <td> <%=trago.fechaCaducidad%> </td>
        <td> <%=trago.precio%> </td>
        <td> <%=trago.tipo%> </td>
        <td>


                    <form action="/api/traguito/crear" method="get">
                        <input type="number" name="id" value="<%=trago.id%>" hidden>
                        <button style="width: 100%" class="ancho colorEd">Editar</button>
                    </form>


                    <form action="/api/traguito/eliminarTrago" method="POST">
                        <input type="number" name="id" value="<%=trago.id%>" hidden>
                        <button style="width: 100%" class="ancho colorE">Eliminar</button>

                    </form>

        </td>
    </tr>
    <% })%>
</table>
<br>
<br>

<style>
    .ancho{
        width: 100%;
        color: black;
        text-align: center;
        font-style: normal;
        font-size: medium;
    }
    .colorE{
        background-color: bisque;
    }

    .colorEd{
        background: azure;
    }

    .centro{
        text-align: center;
    }



</style>

<%- include('../componentes/footer/footer')%>